<!DOCTYPE html>
<html>
<head>
	<title>Todos</title>
	<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/style.css">
</head>
<body>
	<div id="app"></div>
	
	<script src="app/assets/javascripts/lib/jquery.min.js"></script>
	<script src="app/assets/javascripts/lib/underscore.min.js"></script>
	<script src="app/assets/javascripts/lib/backbone.min.js"></script>
	<script src="app/assets/javascripts/models/todo.js"></script>
	<script src="app/assets/javascripts/collections/todo_list.js"></script>
	<script src="app/assets/javascripts/views/todo_view.js"></script>
	<script src="app/assets/javascripts/views/todo_list_view.js"></script>
	<script src="app/assets/javascripts/views/new_todo_view.js"></script>
	<script src="app/assets/javascripts/routers/router.js"></script>
	<script src="app/assets/javascripts/main.js"></script>
</body>
</html>
